@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@700&display=swap');



:root {
    --dark-black: #000000;
    --black: #242d49;
    --yellow: #f5c32c;
    --orange: #fca61f;
    --gray: rgba(36, 45, 73, 0.65);
    --profileShadow: 0px 4px 17px 2px rgba(0, 0, 0, 0.25);
    --hrColor: #cfcdcd;
    --cardColor: rgba(255, 255, 255, 0.64);
    --buttonBg: linear-gradient(98.63deg, #f9a225 0%, #f95f35 100%);
    --inputColor: rgba(40, 52, 62, 0.07);
    --photo: #4CB256;
    --video: #4A4EB7;
    --location: #EF5757;
    --shedule: #E1AE4A;
    --roboto-font: 'Roboto', sans-serif;
    --popings-font: 'Poppins', sans-serif;
    --footer-links-color: #cacaca;
    --system-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif
}


.myPostSection{
    width: 100%;
    height: 100vh;
    z-index: 111;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0px;
    left: 0px;
}

.myPostSection .close-myPost{
    float: right;
    padding: 20px;
    width: 35px;
    height: 35px;
    cursor: pointer;
}
.myPost-content{
    width: 90%;
    margin: auto;
    margin-top: 50px;
}
.myPost-content .myPostContent-container{
    width: 90%;
    background-color: #fff;
    height: 580px;
    margin: auto;
    display: flex;
}
.myPosted-image{
    width: 50%;
    height: 100%;
}
.myPosted-image img{
    width: 100%;
    height: 100%;
}
.myPost-content .myPostContent-container .myPost-details{
    width: 45%;
   margin-left: 20px;
}
.myPost-content .myPostContent-container .myPost-details .divider{
    width: 100%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.2);
    margin: auto;
    margin-top: 5px;
}
.myPost-content .myPostContent-container .myPost-details .myProfile-detail{
    padding-top: 10px;
    display: flex;
    position: relative;
    align-items: center;
}
.myPost-content .myPostContent-container .myPost-details .myProfile-detail .option .fa-ellipsis{
    font-size: 23px;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
}
.myPost-content .myPostContent-container .myPost-details .myProfile-detail .detail{
    display: flex;
    align-items: center;
}
.myPost-content .myPostContent-container .myPost-details .myProfile-detail img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
.myPost-content .myPostContent-container .myPost-details .myProfile-detail  .username{
    font-family: var(--system-font);
    margin-left: 10px;
    font-weight: 500;
    color: var(--dark-black);
}

.myPost-comments{
    width: 100%;
    height: 300px;
    overflow-y: auto;
    margin-top: 10px;
    margin-left: 0px;
    padding-left: 0px;
    border-bottom: 1px solid #737373;
}

.myPost-comments::-webkit-scrollbar{
    width: 10px;
    scroll-behavior: smooth;
}
.myPost-comments .comment{
    display: flex;
    align-items: center;
    margin-left: 0px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.myPost-comments .comment .image{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}
.myPost-comments .comment .image img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.myPost-comments .comment .commenting-username{
    font-size: 1rem;
    font-family: var(--system-font);
    color: var(--dark-black);
    font-weight: 500;
}
.myPost-comments .comment  .comment-text{
    font-size: 1rem;
    font-family: var(--popings-font);
    color: var(--dark-black);
    padding-left: 10px;
}
.myPost-footer .actions{
    display: flex;
    margin-top: 20px;
}

.myPost-footer .actions .like,.comment{
    font-size: 30px;
    margin-left: 10px;
    cursor: pointer;
}
.myPost-footer .actions .like .fa-solid.fa-heart{
    color: red;
}
.myPost-footer  .total-likes{
    padding-left: 16px;
    margin-top: 10px;
    font-size: 1rem;
    font-family: var(--system-font);
    font-weight: 500;
}
.myPost-footer  .total-likes span{
    margin-right: 6px;
}
.myPost-footer .add-comment{
    width: 100%;
    height: 60px;
    margin-top: 30px;
    margin-left: 12px;
    position: relative;
    
}

.myPost-footer .add-comment input{
    width: 90%;
    height: 100%;
    padding-left: 12px;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-size: 1rem;
    font-family: var(--system-font);
}
.loader{
    
    position: absolute;
    left: 50%;
    top: 50%;
}
.myPost-footer .add-comment input::placeholder{
    font-size: 1.2rem;
    font-family: var(--system-font);
    color: #737373;
}
.myPost-footer .add-comment .post-btn{
    position: absolute;
    right: 10px;
    top: 20px;
    color: #4A4EB7;
    font-family: var(--system-font);
    font-weight: 600;
    text-transform: capitalize;
    cursor: pointer;
}
.myPost-footer .add-comment  #disabled-btn{
    color: #9da0f9;
    cursor: not-allowed;
}